.header {
    background-image: url(../../images/home_mobile.png);
    background-size: cover;
    background-position: center center;
    height: 634px;
}

.banner {
    background-image: url(../../images/banner.png);
    background-size: cover;
    background-position: center center;
}

//桌面版
@include media-breakpoint-up(md) {
    .header {
        height: 810px;
        background-image: url(../../images/home.png);
    }
}

.border-4 {
    border-width: 4px !important;
}   
.border-5 {
    border-width: 5px !important;
}   